.TopContainer {
    position: relative;
    height: 70vh;
    background-color: #191d1d9a;
}

.bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bg img {
    border-radius: 0px;
    height: 250px;
    width: 1000px;
}

.ProfileInfo {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
}

.ProfilePic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.FullName {
    font-size: 24px;
    margin-top: 10px;
}

.Username {
    font-size: 16px;
}
