.TextContent {
    border: 1px solid #424242;
    background-color: #1E2424;
    border-radius: 8px;
    color: #ddd;
    padding: 12px;
    margin-bottom: 10px;
  }
  
  .Buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    ;
}
  
  .Buttons button {
    margin: 0 30px; /* Add some spacing between buttons */
    font-size: 12px;
    background-color: transparent;
    color: #ddd;
  }

  .Buttons button:hover {
    border: none;
    background-color: #424242;
  }
  
  .textP {
    font-size: 13px;
    margin-top: 10px;
  }
  
  .UserInfo {
    display: flex;
    flex-direction: row;
  }

  .ProfilePicture {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 10px; 
  }
  
  