.uploadModal_header {
    border-bottom: none;
    background-color: #2e2b2b;
  }
  
  .uploadModal_title {
    color: #e6e6e6;
    font-weight: bold;
  }
  
  .uploadModal_body {
    padding: 20px;
    background: linear-gradient(135deg, #1D1F1F, #022F2F);
  }
  
  
  .uploadModal_button {
    color: #ffffff;
    border-color: #ffff;
    margin-right: 10px;
    background: transparent;
  }

  .uploadModal_button:hover {
    background-color: #0a9990;
    border-color: #0a9990;
  }
  
  .uploadModal_button svg {
    margin-right: 5px;
    background: transparent;
  }
  
  /* File Input */
  .uploadModal_input {
    margin-top: 10px;
    background: transparent;
    resize: none;
  }
  
  /* Upload Button */
  .uploadModal_uploadButton {
    background-color: #06CABE;
    border-color: #06CABE;
    margin-top: 20px;
  }
  
  .uploadModal_uploadButton:hover {
    background-color: #0a9990;
    border-color: #0a9990;
  }
  
  